
div(class="container")
  h1= "Cargar Producto"
  div(class="container ")
    div(class="row")
      div(class="col ")

        div(class="input-group mb-3") 
          span(class="input-group-text" )= "Producto:"
          input(type='text'  id="title" name="title" )
        div(class="input-group mb-3") 
          span(class="input-group-text")= "Precio:"  
          input(type='text' id="price" name="price" ) 
        div(class="input-group mb-3") 
          span(class="input-group-text")= "Url Img:"  
          input(type='text' id="urlimg" name="urlimg" )     
        button(class="btn btn-primary" type="button" id="boton")="CARGAR PRODUCTO"  
        a(href='/productos' class="btn btn-success ms-2")= "Ver Listado de productos"  
            

script(src='cargarProductos.js')        