link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css')
script(src='/socket.io/socket.io.js')   
script(src='/js/client.js')      

html 
  head 
    title= "Cargar Producto"
  body 
div(class="container")
  h1= "Cargar Producto"
  div(class="container ")
    div(class="row")
      div(class="col ")

        div(class="input-group mb-3") 
          span(class="input-group-text" )= "Producto:"
          input(type='text'  id="title" name="title" )
        div(class="input-group mb-3") 
          span(class="input-group-text")= "Precio:"  
          input(type='text' id="price" name="price" ) 
        div(class="input-group mb-3") 
          span(class="input-group-text")= "Url Img:"  
          input(type='text' id="urlimg" name="urlimg" )     
        button(class="btn btn-primary" type="button" id="botonLoad")="CARGAR PRODUCTO"  
      
            


div(class="container")
  h1= "Listado de productos"
 
  table(class="table" id="myTable")
    tr
      th Id
      th Producto
      th Precio
      each val in data  
        tr
          td= val.id 
          td= val.title
          td= val.price
          td
            img(src= val.img alt='imagen' style='width:100px; height:100px;')
    
            

//- include layouts/cargarproducto
//- include layouts/productos

  
