<div class="container m-5">
  <h1>PROCESO ACTUAL</h1>
  <div class="row justify-content-md-center">
    <div class="col-auto">
      <div class="card border-primary" style="width:25rem ">
        <p><strong>Args Entrada:</strong> {{data.args}}</p>
        <p><strong>Nombre de la plataforma | so:</strong>
          {{data.plataforma}}</p>
        <p><strong>Versión Node.js:</strong> {{data.nodeVersion}}</p>
        <p><strong>Memoria total reservada | rss:</strong> {{data.memoria}}</p>
        <p><strong>Path de ejecución:</strong> {{data.execPath}}</p>
        <p><strong>Process ID:</strong> {{data.processID}}</p>
        <p><strong>Folder Proyecto:</strong> {{data.carpeta}}</p>
      </div>
    </div>
  </div>

</div>